.main_container_Employee {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16), 0 1px 2px rgba(0, 0, 0, 0.23);
  background-color: white;
  padding-bottom: 50px;
  border-radius: 6px;
  overflow: hidden !important;
  margin-top: 70px !important;
}

.paper_Employee {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  margin-top: 20px !important;
}

.form_Employee {
  width: 100% !important;
  margin-top: 30px !important;
}

.titles_hr_Employee {
  background-color: #222a44 !important;
  height: 1px !important;
}

.txt_Labels_Employee {
  margin: auto !important;
}

.btn_addEmployees {
  float: right !important;
  margin-top: 80px !important;
}

.Employee_table {
  margin-top: 10px !important;
}

.btnEdit {
  margin-left: 20px !important;
}

.model_Employee_add {
  width: 60% !important;
}

.btn_purchsHis {
  float: right !important;
  margin-top: 80px !important;
  color: aliceblue !important;
  background-color: rgb(5, 5, 54) !important;
}
