.main_containerGass {
  margin-top: 70px !important;
  width: 80% !important;
  margin: auto;
}

.gass_Table {
  width: 100% !important;
}

/* .main_gass {
  width: 100%;
} */

.btn_gass {
  float: right !important;
  margin-top: 5px !important;
  margin-right: 30px !important;
}

.btn_gass_Add {
  margin-top: 5px !important;
  background-color: rgba(6, 5, 100, 0.747) !important;
  color: aliceblue !important;
}

.gass_Table_head {
  background-color: rgba(131, 183, 226, 0.664) !important;
}

.titles_Gass {
  margin-top: 70px !important;
  color: rgba(21, 21, 73, 0.925);
}

.titles_Gass_Hr {
  color: rgba(21, 21, 73, 0.925);
  width: 10%;
  float: left;
  font-weight: 700;
}

.main_containerr {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16), 0 1px 2px rgba(0, 0, 0, 0.23);
  background-color: white;
  padding-bottom: 50px;
  border-radius: 6px;
  overflow: hidden !important;
  margin-top: 70px !important;
}

.purchesModel_model {
  width: 50% !important;
}

.btn_pHistry {
  float: right !important;
  margin-top: 5px !important;
  margin-right: 30px !important;
  background-color: rgba(32, 76, 148, 0.719) !important;
}
