.arreas_Table {
  margin-top: 75px !important;
}

.btnpay {
  border-radius: 10px !important;
  font-size: 10px !important;
  /* margin-right: 49px !important; */
}

.icon_hist {
  padding-left: 8px !important;
  padding-right: 8px !important;
  text-align: center !important;
  /* margin-top: 50px !important; */
  float: right !important;
}

.arreas_history_Model {
  width: 60% !important;
}

.title_Span_arries {
  font-weight: 700;
  font-size: large;
  color: #34314c;
}
