.root {
  display: flex;
  max-width: 100vw;
  overflow-x: hidden;
}

.content {
  flex-grow: 1;
  padding: 30px;
  width: calc(100vw - 240px);
  min-height: 100vh;
}

.fakeToolbar {
  mixins: toolbar;
}
