.attemdanceMark_Table {
  margin-top: -20px !important;
}

.sub_btnGrid {
  /* margin-top: 40px !important; */
}

.sub_btnAtt {
  background-color: rgba(6, 6, 156, 0.705) !important;
  border-radius: 6px !important;
  color: aliceblue !important;
  margin: auto !important;
  text-align: center !important;
  float: left !important;
  font-size: small !important;
  text-transform: none !important;
}

.checkboxAtt {
  /* padding-top: 2px;
  padding-right: 2px;
   padding-bottom: 0 !important;
  padding-left: 2px; */
  margin: auto !important;
  color: aliceblue !important;
  text-transform: none !important;
  background-color: rgba(21, 21, 105, 0.897) !important;
  border-radius: 5px !important;
}
