.site-layout-background {
  padding: 24;
  margin-top: 100px !important;
  min-height: 360;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16), 0 1px 2px rgba(0, 0, 0, 0.23);
  overflow: hidden !important;
}

.site-layout-background input {
  padding: 8px 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  border-color: #1a0707;
}
h2 {
  color: #34314c;
  font-weight: 700;
  padding: 15px 10px 5px 15px;
}

.image {
  width: 100px;
  height: 100px;
}

.btnAdd {
  float: right !important;
  width: auto !important;
  width: 50% !important;
  border-radius: 6px !important;
  margin-top: 20px !important;
  margin-bottom: 50px !important;
}
.btn {
  width: 30%;
  height: 10%;
  margin-bottom: 20px;
  margin-left: 70%;
}

.form {
  margin-top: 50px !important;
}
.xx {
  margin: auto;
  width: 50%;
  margin-top: 60px !important;
}

.avatar-uploader {
  margin-left: 20%;
}

@media screen and (min-width: 280px) {
  .xx {
    margin: auto;
    width: 80%;
  }
}

@media screen and (min-width: 360px) {
  .xx {
    margin: auto;
    width: 80%;
  }
}

@media screen and (min-width: 411px) {
  .xx {
    margin: auto;
    width: 90%;
  }
}
@media screen and (min-width: 768px) {
  .xx {
    margin: auto;
    width: 50%;
  }
}

@media screen and (min-width: 966px) {
  .xx {
    margin: auto;
    width: 50%;
  }
}

@media screen and (min-width: 280px) {
  .btn {
    margin: auto;
    width: 100%;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 360px) {
  .btn {
    margin: auto;
    width: 100%;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 320px) {
  .btn {
    margin: auto;
    width: 100%;
    margin-bottom: 40px;
  }
}

.serialNo_add {
  margin-top: 10px !important;
  background-color: rgba(1, 1, 78, 0.842) !important;
  color: aliceblue !important;
  border-radius: 6px !important;
}

.rmov_iconss {
  margin-top: 20px !important;
  padding-left: 20px !important;
}

.txt_input {
  margin-top: 10px !important;
}

/* @media screen and (min-width: 320px) and (max-width: 533px) {
  .rmov_iconss {
    margin-top: -75px !important;
    float: right !important;
    margin-right: 10px !important;
  }
}

@media screen and (min-width: 570px) and (max-width: 620px) {
  .rmov_iconss {
    margin-top: -75px !important;
    float: right !important;
    margin-right: 10px !important;
  }
}

@media screen and (min-width: 534px) and (max-width: 570px) {
  .rmov_iconss {
    margin-top: -75px !important;
    float: right !important;
    margin-right: 10px !important;
  }
}

@media screen and (min-width: 360px) and (max-width: 500px) {
  .rmov_iconss {
    margin-top: -75px !important;
    float: right !important;
    margin-right: 10px !important;
  }
}

@media screen and (min-width: 395px) and (max-width: 655px) {
  .rmov_iconss {
    margin-top: -75px !important;
    float: right !important;
    margin-left: 80px !important;
  }
}

@media screen and (min-width: 411px) and (max-width: 731px) {
  .rmov_iconss {
    margin-top: -75px !important;
    float: right !important;
    margin-left: 80px !important;
  }
}

@media screen and (min-width: 500px) and (max-width: 530px) {
  .rmov_iconss {
    margin-top: -75px !important;
    float: right !important;
    margin-right: 20px !important;
  }
}

@media screen and (min-width: 540px) and (max-width: 720px) {
  .rmov_iconss {
    float: right !important;
    margin-left: 190px !important;
  }
} */

/* @media screen and (min-width: 768px) and (max-width: 1024px) {
  .rmov_iconss {
    float: right !important;
    margin-left: 140px !important;
    margin-top: -40px !important;
  }
} */

/* @media screen and (min-width: 800px) and (max-width: 1280px) {
  .rmov_iconss {
    float: right !important;
    margin-left: 140px !important;
    margin-top: -40px !important;
  }
}

@media screen and (min-width: 1280px) {
  .rmov_iconss {
    margin-right: 90px !important;
    margin-top: -40px !important;
  }
} */
