.salary_table {
  margin-top: 30px !important;
}

.btn_target {
  margin-top: 70px !important;
  text-transform: none !important;
}

.btn_targetHis {
  margin-top: 70px !important;
  text-transform: none !important;
  background-color: rgba(3, 3, 99, 0.897) !important;
  color: aliceblue !important;
}

.btn_advance {
  margin-top: 70px !important;
  background-color: rgba(3, 3, 99, 0.897) !important;
  text-transform: none !important;
  color: aliceblue !important;
}

.sttsal {
  background-color: rgba(30, 173, 1, 0.856);
  color: aliceblue;
  border-radius: 6px;
  width: 70% !important;
  text-align: center;
}

.model_histrySal {
  width: 92% !important;
  margin-right: 25px !important;
}

.model_salry_targetHistry {
  width: 70% !important;
}
