.maindiv_gsaa {
  margin-top: 30px;
}

.titleGass {
  margin-top: 20px !important;
  font-size: 20px !important;
  color: rgb(4, 15, 66) !important;
  font-weight: 600 !important;
}

.profitas {
  float: right !important;
  font-size: 20px !important;
  color: rgb(4, 15, 66) !important;
  font-weight: 600 !important;
}
