.title_Span_dashboard {
  font-weight: 700;
  font-size: large;
  color: #34314c;
}

.paper {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  margin-top: 20px !important;
}

.form {
  width: 100% !important;
  margin-top: 30px !important;
}

.tody_icon {
  font-size: 17px !important;
  margin: auto !important;
  align-items: center !important;
  text-align: center !important;
  margin-top: 5px !important;
  color: rgb(141, 121, 235);
}

.tag_icon {
  color: #6359bb !important;
}

.invoice_icon {
  color: rgb(57, 72, 124);
}

.Cardcontent {
  background-color: rgb(255, 255, 255) !important;
  box-shadow: -4px -1px 7px rgba(0, 0, 0, 0.16), 3px 3px 2px rgba(0, 0, 0, 0.23) !important;
}

.card_hr {
  margin-top: -10px !important;
  height: 2px !important;
  background-color: #031442 !important;
}

.today_invoices {
  margin-top: 30px !important;
}

/* .card_Top {
  width: 100% !important;
  margin-top: 70px !important;
  height: 55px !important;
  border-radius: 40px !important;
  background-color: rgb(255, 255, 255) !important;
  box-shadow: -4px -1px 7px rgba(0, 0, 0, 0.16), 3px 3px 2px rgba(0, 0, 0, 0.23) !important;
}

.icon1Fab {
  background-color: rgba(32, 145, 3, 0.89) !important;
  color: #ffffff !important;
}

.icon2Fab {
  background-color: rgb(106, 4, 116) !important;
  color: #ffffff !important;
}
.icon3Fab {
  background-color: rgba(247, 162, 6, 0.89) !important;
  color: #ffffff !important;
}
.icon4Fab {
  background-color: rgba(117, 6, 6, 0.918) !important;
  color: #ffffff !important;
} */
