.title_Span_dashboard {
  font-weight: 700;
  font-size: large;
  color: #34314c;
}

.paper {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  margin-top: 20px !important;
}

.form {
  width: 100% !important;
  margin-top: 30px !important;
}

.tody_icon {
  font-size: 17px !important;
  margin: auto !important;
  align-items: center !important;
  text-align: center !important;
  margin-top: 5px !important;
  color: rgb(141, 121, 235);
}

.tag_icon {
  color: #6359bb !important;
}

.invoice_icon {
  color: rgb(57, 72, 124);
}

.Cardcontent {
  background-color: rgb(255, 255, 255) !important;
  box-shadow: -4px -1px 7px rgba(0, 0, 0, 0.16), 3px 3px 2px rgba(0, 0, 0, 0.23) !important;
}

.card_hr {
  margin-top: -10px !important;
  height: 2px !important;
  background-color: #031442 !important;
}

.today_invoices {
  margin-top: 30px !important;
}

.btn_Dash {
  background-color: blueviolet !important;
  color: whitesmoke !important;
  margin-top: 70px !important;
  display: flex !important;
  flex-direction: column !important;
}

.main_containerDash {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16), 0 1px 2px rgba(0, 0, 0, 0.23);
  background-color: white;
  padding-bottom: 50px;
  border-radius: 6px;
  overflow: hidden !important;
  margin-top: 20px !important;
}

.titl_Dash {
  margin-top: 70px !important;
  font-size: 26px !important;
  display: flex !important;
  flex-direction: column !important;
  color: #65646998 !important;
}
