@media screen and (min-width: 280px) {
  .tblSpinner {
    margin-left: -100px !important;
  }
}

@media screen and (min-width: 320px) {
  .tblSpinner {
    margin-left: -120px !important;
  }
}

@media screen and (min-width: 360px) {
  .tblSpinner {
    margin-left: -130px !important;
  }
}

@media screen and (min-width: 375px) {
  .tblSpinner {
    margin-right: 10px !important;
  }
}
@media screen and (min-width: 411px) {
  .tblSpinner {
    margin-left: -150px !important;
  }
}
@media screen and (min-width: 540px) {
  .tblSpinner {
    margin-left: -220px !important;
  }
}

@media screen and (min-width: 768px) {
  .tblSpinner {
    margin-left: -330px !important;
  }
}

@media screen and (min-width: 1024px) {
  .tblSpinner {
    margin: auto !important;
  }
}

@media screen and (min-width: 280px) {
  .empty_data {
    width: 250px;
    height: 250px;
    margin-left: -120px !important;
  }
}

@media screen and (min-width: 320px) {
  .empty_data {
    width: 250px;
    height: 250px;
    margin-left: -120px;
  }
}

@media screen and (min-width: 280px) {
  .empty_data {
    width: 250px;
    height: 250px;
    margin-left: -110px;
  }
}

@media screen and (min-width: 320px) {
  .empty_data {
    width: 250px;
    height: 250px;
    margin-left: -120px;
  }
}

@media screen and (min-width: 360px) {
  .empty_data {
    width: 250px;
    height: 250px;
    margin-left: -150px;
  }
}

@media screen and (min-width: 375px) {
  .empty_data {
    width: 250px;
    height: 250px;
    margin-left: -140px !important;
  }
}

@media screen and (min-width: 411px) {
  .empty_data {
    width: 250px;
    height: 250px;
    margin-left: -150px !important;
  }
}

@media screen and (min-width: 540px) {
  .empty_data {
    width: 450px;
    height: 450px;
    margin-left: -220px !important;
  }
}

@media screen and (min-width: 768px) {
  .empty_data {
    width: 550px;
    height: 550px;
    margin-left: -350px !important;
  }
}

@media screen and (min-width: 1024px) {
  .empty_data {
    margin: auto !important;
  }
}

.Item_img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.title_Span {
  font-weight: 700;
  font-size: large;
  color: #34314c;
}

.px-2 {
  background-color: #01c11b !important;
  color: aliceblue;
  font-weight: 700 !important;
  margin: auto;
  width: 100%;
  border-radius: 10px;
  padding: 4px 10px 4px 35px;
}

.px-3 {
  background-color: #ff9f3f !important;
  color: aliceblue;
  font-weight: 700 !important;
  margin: auto;
  width: 100%;
  border-radius: 10px;
  padding: 4px 0px 4px 25px;
}

.px-4 {
  background-color: #ff0000 !important;
  color: aliceblue;
  font-weight: 700 !important;
  margin: auto;
  width: 100%;
  border-radius: 10px;
  padding: 4px 0px 4px 25px;
}

/* Start ststus lbl 280 responsive */

@media screen and (min-width: 280px) {
  .px-2 {
    width: 90%;
    margin: auto;
    font-size: 11px !important;
    padding: 4px 0px 4px 9px;
  }
}

@media screen and (min-width: 280px) {
  .px-3 {
    width: 100%;
    margin: auto;
    font-size: 10px !important;
    padding: 4px 0px 4px 10px;
  }
}

@media screen and (min-width: 280px) {
  .px-4 {
    width: 100%;
    margin: auto;
    font-size: 10px !important;
    padding: 4px 0px 4px 7px;
  }
}

/* Start ststus lbl 280 responsive */

/* Start ststus lbl 320 responsive */

@media screen and (min-width: 320px) {
  .px-2 {
    width: 100%;
    margin: auto;
    font-size: 13px !important;
    padding: 4px 0px 4px 18px;
  }
}

@media screen and (min-width: 320px) {
  .px-3 {
    width: 100%;
    margin: auto;
    font-size: 13px !important;
    padding: 4px 0px 4px 15px;
  }
}

@media screen and (min-width: 320px) {
  .px-4 {
    width: 100%;
    margin: auto;
    font-size: 12px !important;
    padding: 4px 0px 4px 10px;
  }
}

/* End ststus lbl 320 responsive */

/* Start ststus lbl 360 responsive */

@media screen and (min-width: 360px) {
  .px-2 {
    width: 100%;
    margin: auto;
    font-size: 15px !important;
    padding: 4px 0px 4px 25px;
  }
}

@media screen and (min-width: 360px) {
  .px-3 {
    width: 100%;
    margin: auto;
    font-size: 15px !important;
    padding: 4px 0px 4px 19px;
  }
}

@media screen and (min-width: 360px) {
  .px-4 {
    width: 100%;
    font-size: 15px !important;
    margin: auto;
    padding: 4px 0px 7px 11px;
  }
}

/* End ststus lbl 360 responsive */

/* Start ststus lbl 375 responsive */

@media screen and (min-width: 375px) {
  .px-2 {
    width: 100%;
    font-size: 15px;
    margin: auto;
    padding: 4px 0px 7px 29px;
  }
}

@media screen and (min-width: 375px) {
  .px-3 {
    width: 100%;
    font-size: 15px;
    margin: auto;
    padding: 4px 0px 7px 24px;
  }
}

@media screen and (min-width: 375px) {
  .px-4 {
    width: 100%;
    font-size: 15px;
    margin: auto;
    padding: 4px 0px 7px 15px;
  }
}

/* Start ststus lbl 375 responsive */

/* Start ststus lbl 411 responsive */

@media screen and (min-width: 411px) {
  .px-2 {
    width: 100%;
    font-size: 17px !important;
    margin: auto;
    padding: 4px 0px 7px 33px;
  }
}

@media screen and (min-width: 411px) {
  .px-3 {
    width: 100%;
    font-size: 17px !important;
    margin: auto;
    padding: 4px 0px 7px 28px;
  }
}

@media screen and (min-width: 411px) {
  .px-4 {
    width: 100%;
    font-size: 16px !important;
    margin: auto;
    padding: 4px 0px 7px 20px;
  }
}

/* End ststus lbl 411 responsive */

/* Start ststus lbl 414 responsive */

@media screen and (min-width: 414px) {
  .px-2 {
    width: 100%;
    font-size: 15px !important;
    margin: auto;
    padding: 4px 0px 7px 39px;
  }
}

@media screen and (min-width: 414px) {
  .px-3 {
    width: 100%;
    font-size: 15px !important;
    margin: auto;
    padding: 4px 0px 7px 32px;
  }
}

@media screen and (min-width: 414px) {
  .px-4 {
    width: 100%;
    font-size: 15px !important;
    margin: auto;
    padding: 4px 0px 7px 25px;
  }
}

/* End ststus lbl 414 responsive */

/* End ststus lbl 540 responsive */

@media screen and (min-width: 540px) {
  .px-2 {
    width: 60%;
    font-size: 15px !important;
    margin: auto;
    margin-left: -40px;
    padding: 4px 0px 7px 25px;
  }
}

@media screen and (min-width: 540px) {
  .px-3 {
    width: 60%;
    font-size: 15px !important;
    margin: auto;
    margin-left: -40px;
    padding: 4px 0px 7px 22px;
  }
}

@media screen and (min-width: 540px) {
  .px-4 {
    width: 60%;
    font-size: 15px !important;
    margin: auto;
    margin-left: -40px;
    padding: 4px 0px 7px 18px;
  }
}

/* End ststus lbl 540 responsive */

/* End ststus lbl 768 responsive */

@media screen and (min-width: 768px) {
  .px-2 {
    width: 50%;
    font-size: 15px !important;
    margin: auto;
    padding: 4px 0px 7px 40px;
    margin-left: -50px;
  }
}

@media screen and (min-width: 768px) {
  .px-3 {
    width: 50%;
    font-size: 15px !important;
    margin: auto;
    padding: 4px 0px 7px 38px;
    margin-left: -50px;
  }
}

@media screen and (min-width: 768px) {
  .px-4 {
    width: 50%;
    font-size: 15px !important;
    margin: auto;
    padding: 4px 0px 7px 29px;
    margin-left: -50px;
  }
}

/* End ststus lbl 768 responsive */

/* End ststus lbl 1024 responsive */

@media only screen and (min-width: 1024px) and (max-width: 1365px) {
  .px-2 {
    width: 100%;
    font-size: 14px !important;
    margin: auto;
    padding: 15px 15px 15px 10px;
  }
}

@media screen and (min-width: 1366px) {
  .px-2 {
    width: 100%;
    font-size: 14px !important;
    margin: auto;
    padding: 3px 0px 7px 35px;
  }
}

@media screen and (min-width: 1024px) {
  .px-3 {
    width: 100%;
    font-size: 14px !important;
    margin: auto;
    padding: 4px 0px 7px 30px;
  }
}

@media screen and (min-width: 1024px) {
  .px-4 {
    width: 100%;
    font-size: 14px !important;
    margin: auto;
    padding: 4px 0px 7px 25px;
  }
}

/* End ststus lbl 1024 responsive */

.icon_Edit {
  margin-left: 20px;
}

/* Start icon  1024 responsive */

@media screen and (min-width: 1024px) {
  .icon_Edit {
    width: 100%;
    margin: auto;
    padding-left: 11px;
  }
}

/* End  icon 1024 responsive */

/* Start  model */

.model_img {
  width: 35%;
  height: 35%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.model_Item {
  font-weight: 400;
}

.load_Item {
  color: #000000;
  font-weight: 700 !important;
}

.model_title {
  color: red;
}

/* END  model */
