.tbl_container {
  margin-top: 170px;
}

.btn_addSaraniCustomers {
  float: right !important;
  margin-top: 75px !important;
}

.model_Gamisarani_Cutomer {
  width: 60% !important;
}

.model_Gamisarani_historyCutomer {
  width: 60% !important;
}

.model_Gamisarani_UpdateCutomer {
  width: 60% !important;
}

.model_Gamisarani_WithdrawalCutomer {
  width: 60% !important;
}

.cBalance {
  text-align: center !important;
}

.btnDipo {
  border-radius: 10px !important;
  font-size: 10px !important;
  /* margin-left: 20px !important; */
  /* margin-top: 15px !important; */
  float: right;
  background-color: rgba(46, 6, 223, 0.774) !important;
  color: aliceblue !important;
}

.btnView {
  margin-right: 7px !important;
}

.WitdrHisty {
  margin-right: -40px;
}

.btnHisty {
  margin-right: 7px !important;
}

.btnUpdate {
  margin-right: 7px !important;
}

.model_Gamisarani_depositCutomer {
  width: 40% !important;
}

.customer_table_sarani {
  margin-top: 60px;
}
