.btn_manage_itm {
  margin-top: 70px !important;
  float: right;
}

.btn_manage_his {
  margin-top: 70px !important;
  float: right;
  background-color: rgb(8, 8, 77) !important;
  color: aliceblue !important;
}

.loadAll {
  margin-top: 70px !important;
  float: right !important;
  margin-bottom: -30px !important;
  background-color: darkblue !important;
  color: white !important;
  margin-right: 40px !important;
}

.selectedItems {
  width: 30% !important;
}
