.paper_check {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  margin-top: 5px !important;
}

.form_check {
  width: 100% !important;
  margin-top: 30px !important;
}
.main_container_check {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16), 0 1px 2px rgba(0, 0, 0, 0.23);
  background-color: white;
  padding-bottom: 50px;
  border-radius: 6px;
  overflow: hidden !important;
  margin-top: 25px !important;
}

.titles {
  padding-top: 30px !important;
}
.titles_hr {
  background-color: #222a44 !important;
  height: 1px !important;
}

.btn_chk {
  margin-top: 30px !important;
}

.validate_check {
  color: red;
  text-align: center !important;
  font-weight: 600 !important;
  margin: auto;
  align-items: center;
  margin-top: 10px;
}
