.lbl_Subtopic {
  font-weight: 700 !important;
  color: #222a44 !important;
  font-size: 22px !important;
}

.hr_Subtopic {
  margin-top: -10px !important;
  background-color: blue !important;
  color: blue !important;
  height: 3px !important;
}

.totls {
  text-align: center !important;
  margin: auto !important;
  align-items: center !important;
}
