.icon_delete{
    padding: 2px;
    margin-left: 9px;
}

.btn_newUser{
    margin-top: 80px !important;
    float: right;
    border-radius: 10px;
    height: 40px;
    text-align: center;
   
}

.item_table{
    margin-top: -5px;
}

.new_UserIcon{
padding-left: 18px;
font-size: 5px;


}

.offline{
background-color: #f01919 !important;
  color: aliceblue;
  font-weight: 700 !important;
  /* margin: auto; */
  width: 50%;
  border-radius: 10px;
  padding: 4px 10px 4px 25px;

}

.active{
background-color: #01c11b !important;
  color: aliceblue;
  font-weight: 700 !important;
  /* margin: auto; */
  width: 50%;
  border-radius: 10px;
  padding: 4px 10px 4px 25px;
}

/* Start lastseen lbl 250px responsive */

@media screen and (min-width: 250px){
  .active {
    width: 100%;
    margin: auto;
    font-size: 11px !important;
    padding: 4px 0px 4px 12px;
  }
}

@media screen and (min-width: 250px) {
  .offline {
    width: 100%;
    margin: auto;
    font-size: 11px !important;
    padding: 4px 0px 4px 12px;
  }
}

/* Start lastseen lbl 250px responsive */


/* Start lastseen lbl 280px responsive */

@media screen and (min-width: 280px){
  .active {
    width: 100%;
    margin: auto;
    font-size: 11px !important;
    padding: 4px 0px 4px 15px;
  }
}

@media screen and (min-width: 280px) {
  .offline {
    width: 100%;
    margin: auto;
    font-size: 11px !important;
    padding: 4px 0px 4px 15px;
  }
}

/* End lastseen lbl 280px responsive */


/* Start lastseen lbl 320px responsive */

@media screen and (min-width: 320px){
  .active {
    width: 100%;
    margin: auto;
    font-size: 11px !important;
    padding: 4px 0px 4px 25px;
  }
}

@media screen and (min-width: 320px) {
  .offline {
    width: 100%;
    margin: auto;
    font-size: 11px !important;
    padding: 4px 0px 4px 25px;
  }
}

/* End lastseen lbl 320px responsive */



/* Start lastseen lbl 360px responsive */

@media screen and (min-width: 360px){
  .active {
    width: 100%;
    margin: auto;
    font-size: 11px !important;
    padding: 4px 0px 4px 35px;
  }
}

@media screen and (min-width: 360px) {
  .offline {
    width: 100%;
    margin: auto;
    font-size: 11px !important;
    padding: 4px 0px 4px 35px;
  }
}

/* End lastseen lbl 360px responsive */

/* Start lastseen lbl 384px responsive */

@media screen and (min-width: 384px){
  .active {
    width: 100%;
    margin: auto;
    font-size: 11px !important;
    padding: 4px 0px 4px 40px;
  }
}

@media screen and (min-width: 384px) {
  .offline {
    width: 100%;
    margin: auto;
    font-size: 11px !important;
    padding: 4px 0px 4px 40px;
  }
}

/* End lastseen lbl 384px responsive */


/* Start lastseen lbl 412px responsive */

@media screen and (min-width: 411px) and (max-width: 414px){
  .active {
    width: 100%;
    margin: auto;
    font-size: 11px !important;
    padding: 4px 0px 4px 45px;
  }
}

@media screen and (min-width: 411px) and (max-width: 414px){
  .offline {
    width: 100%;
    margin: auto;
    font-size: 11px !important;
    padding: 4px 0px 4px 45px;
  }
}

/* End lastseen lbl 412px responsive */


/* Start lastseen lbl 540px responsive */

@media screen and (min-width: 540px){
  .active {
    width: 50%;
    margin: auto;
    font-size: 11px !important;
    padding: 4px 0px 4px 33px;
    margin-left: 16px;
  }
}

@media screen and (min-width: 540px){
  .offline {
    width: 50%;
    margin: auto;
    font-size: 11px !important;
    padding: 4px 0px 4px 33px;
    margin-left: 16px;
  }
}

/* End lastseen lbl 540px responsive */




/* Start lastseen lbl 768px responsive */

@media screen and (min-width: 768px){
  .active {
    width: 40%;
    margin: auto;
    font-size: 11px !important;
    padding: 4px 0px 4px 45px;
    margin-left: 16px;
  }
}

@media screen and (min-width: 768px){
  .offline {
    width: 40%;
    margin: auto;
    font-size: 11px !important;
    padding: 4px 0px 4px 45px;
    margin-left: 16px;
  }
}

/* End lastseen lbl 768px responsive */



/* Start lastseen lbl 1024px responsive */

@media screen and (min-width: 1024px){
  .active {
    width: 50%;
    margin: auto;
    font-size: 11px !important;
    padding: 4px 0px 4px 40px;
    margin-left: 16px;
  }
}

@media screen and (min-width: 1024px){
  .offline {
    width: 50%;
    margin: auto;
    font-size: 11px !important;
    padding: 4px 0px 4px 35px;
    margin-left: 16px;
  }
}

/* End lastseen lbl 1024px responsive */

/* Start lastseen lbl 1080px responsive */

@media screen and (min-width: 1080px){
  .active {
    width: 60%;
    margin: auto;
    font-size: 11px !important;
    padding: 4px 0px 4px 20px;
    margin-left: 16px;
  }
}

@media screen and (min-width: 1080px){
  .offline {
    width: 60%;
    margin: auto;
    font-size: 11px !important;
    padding: 4px 0px 4px 20px;
    margin-left: 16px;
  }
}

/* End lastseen lbl 1080px responsive */


/* Start lastseen lbl 1280px responsive */

@media screen and (min-width: 1280px){
  .active {
    width: 40%;
    margin: auto;
    font-size: 11px !important;
    padding: 4px 0px 4px 15px;
    margin-left: 16px;
  }
}

@media screen and (min-width: 1280px){
  .offline {
    width: 40%;
    margin: auto;
    font-size: 11px !important;
    padding: 4px 0px 4px 15px;
    margin-left: 16px;
  }
}

/* End lastseen lbl 1280px responsive */


/* Start lastseen lbl 1440px responsive */

@media screen and (min-width: 1440px){
  .active {
    width: 40%;
    margin: auto;
    font-size: 11px !important;
    padding: 4px 0px 4px 25px;
    margin-left: 16px;
  }
}

@media screen and (min-width: 1440px){
  .offline {
    width: 40%;
    margin: auto;
    font-size: 11px !important;
    padding: 4px 0px 4px 25px;
    margin-left: 16px;
  }
}

/* End lastseen lbl 1440px responsive */