/* .title_Span_seized {
  font-weight: 700;
  font-size: large;
  color: #34314c;
}

.seized_Table {
  margin-top: 35px !important;
}

.btn_AddnewSeized {
  margin-top: 80px !important;
  float: right;
  border-radius: 10px;
  height: 40px;
  text-align: center;
} */
