.main_container_root {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16), 0 1px 2px rgba(0, 0, 0, 0.23);
  background-color: white;
  padding-bottom: 50px;
  border-radius: 6px;
  overflow: hidden !important;
  margin-top: 30px !important;
}

.title_root {
  padding-top: 30px !important;
}

.trustee_title_root {
  padding-top: 30px !important;
}

.titles_hr_root {
  background-color: #222a44 !important;
  height: 1px !important;
}

.txt_Labels_root {
  margin: auto !important;
}

.paper_root {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  margin-top: 20px !important;
}

.form_root {
  width: 100% !important;
  margin-top: 30px !important;
}

.btn_addCust__root {
  margin-top: 40px !important;
  float: right !important;
}

.validate_Edit {
  color: red;
  text-align: center !important;
  font-weight: 600 !important;
}

.btn_addEmplyee {
  margin-top: 40px !important;
  float: right !important;
}

.txt_dayTopic_root {
  font-weight: 600 !important;
  margin-top: 30px !important;
}

.txt_days_root {
  line-height: 31px !important;
}

.txt_days_root_Checkbox {
  line-height: 30px !important;
}

.btn_addRoot {
  margin-top: 40px !important;
  float: right !important;
}

.validate_updateRoot {
  color: red;
  text-align: center !important;
  font-weight: 600 !important;
  margin-top: 20px;
}
