/* .avatar_customer_sarani {
  width: 100px;
  height: 100px;
  margin: auto !important;
} */

.name_sarani {
  margin: auto !important;
}
.name_title_sarani {
  margin: auto !important;
  font-weight: 800 !important;
}

.customer_details_sarani {
  font-weight: 800 !important;
  margin-top: 15px !important;
  color: rgb(10, 2, 31);
}

.space_col_sarani {
  margin-top: 30px !important;
}
.customer_sarani {
  margin-top: 15px !important;
}

.title_sarani {
  font-weight: 600 !important;
  margin-top: -20px !important;
}

.imageFront {
  border-radius: 5px;
  width: 65% !important;
  height: 80% !important;
  margin: auto;
  text-align: center;
  justify-content: center;
  margin-top: 30px;
}

.imageBack {
  border-radius: 5px;
  width: 50% !important;
  margin: auto;
  text-align: center;
  justify-content: center;
  margin-top: 35px;
  transform: rotate(270deg);
}
