.paper {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  margin-top: 20px !important;
  overflow: hidden !important;
}

.form {
  width: 100% !important;
  margin-top: 30px !important;
}

.mainPrint_container {
  margin-top: 70px !important;
  padding-top: 15px !important;
  width: 595px !important;
  height: 642px !important;
  background-color: rgb(255, 255, 255) !important;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.company_title {
  text-align: center !important;
  font-weight: 700 !important;
  font-family: "Times New Roman", Times, serif !important;
  margin-top: 20px !important;
}

.company_sub__title {
  text-align: center !important;
  font-size: smaller !important;
}

.tiles {
  font-weight: 560 !important;
  padding-top: 8px !important;
}

.tiles_sum {
  font-weight: 800 !important;
  margin-top: 20px !important;
  font-family: Georgia, "Times New Roman", Times, serif !important;
  font-style: italic !important;
}

.tiles_details {
  padding-top: 8px !important;
}

.tiles_details_sum {
  margin-top: 20px !important;
}

.tiles_settlement {
  font-family: Georgia, "Times New Roman", Times, serif !important;
  font-style: italic !important;
  margin-top: 30px !important;
  text-align: center !important;
}

.settlement_details {
  margin-top: 30px !important;
  font-family: Georgia, "Times New Roman", Times, serif !important;
  font-style: italic !important;
}

.settlement_hr {
  width: 100px !important;
  margin: auto !important;
  margin-right: 100px !important;
}

.settlement_tbl {
  margin-top: 30px !important;
}

.tbl_row {
  font-weight: 600 !important;
  font-family: Georgia, "Times New Roman", Times, serif !important;
  font-style: italic !important;
  font-size: 12px !important;
}

.print_btn {
  background-color: rgb(8, 8, 126) !important;
  float: right !important;
  margin-top: 35px !important;
  color: aliceblue !important;
  border-radius: 8px !important;
  width: 20% !important;
}
