.menuButton {
  margin-left: 12px;
  margin-right: 36px;
}

.sidebarList {
  margin-top: 12px !important;
}

.icons {
  color: white !important;
}

.divider {
  background-color: rgba(255, 255, 255, 0.199) !important;
}

.mobileBackButton {
  color: aliceblue !important;
}
