.title__employee {
  font-weight: 600 !important;
}

.avatar_customer_employee {
  width: 100px;
  height: 100px;
  margin: auto !important;
}

.name_employee {
  margin: auto !important;
}
.name_title_employee {
  margin: auto !important;
  font-weight: 800 !important;
}

.customer_details_employee {
  font-weight: 800 !important;
  margin-top: 15px !important;
  color: rgb(10, 2, 31);
}

.space_col_employee {
  margin-top: 30px !important;
}
.customer_employee {
  margin-top: 15px !important;
}

.title_employee {
  font-weight: 600 !important;
  margin-top: -20px !important;
}
