.icons_List {
  padding-right: 20px !important;
  font-size: 20px !important;
  color: rgb(39, 22, 114) !important;
}

.icons_Close {
  font-size: 15px !important;
  color: rgb(245, 67, 67) !important;
  float: right !important;
}
