.saleTarget_tot {
  font-weight: 600 !important;
  font-size: large !important;
}
.saleTarget_totNum {
  font-weight: 600 !important;
}

.sale_taget_tot {
  margin-left: 30px !important;
  font-weight: 600 !important;
  color: rgb(1, 1, 12) !important;
}

.sale_tagets {
  font-weight: 600 !important;
  font-size: large !important;
  color: rgb(7, 7, 100) !important;
}
