.blackList_avatar_customer {
  width: 100px;
  height: 100px;
  margin: auto !important;
}

.blackList_customer_details {
  font-weight: 800 !important;
  margin-top: 15px !important;
  color: rgb(10, 2, 31);
}

.blackList_space_col {
  margin-top: 30px !important;
}
.blackList_customer {
  margin-top: 15px !important;
}

.blackList_title {
  font-weight: 600 !important;
  margin-top: -20px !important;
}
