.btn {
  border-radius: 7px;
}

.form {
  margin-top: 10px !important;
  margin-bottom: -70px !important;
}

.name_Msg {
  color: red !important;
  padding: 0 !important;
  text-align: center !important;
  font-weight: 600 !important;
}

.pw_Msg {
  color: red !important;
  text-align: center !important;
  font-weight: 600 !important;
}
