.workingStts {
  background-color: green;
  color: aliceblue;
  border-radius: 6px;
  width: 50%;
  text-align: center;
}

.workingSttsHald {
  background-color: orange;
  color: aliceblue;
  border-radius: 6px;
  width: 50%;
  text-align: center;
}

.btn_attendance {
  float: right !important;
  margin-top: 80px !important;
}

.attemdance_Table {
  margin-top: 30px !important;
}

.btn_attendanceHistory {
  float: right !important;
  margin-top: 80px !important;
  color: aliceblue !important;
  background-color: rgba(2, 2, 107, 0.692) !important;
  margin-left: 50px !important;
}

.mark_bodyModel {
  width: 60% !important;
}

.sttsUp_model {
  width: 40% !important;
}
