.paper {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  margin-top: 20px !important;
}

.form {
  width: 100% !important;
  margin-top: 30px !important;
}

.container_main {
  margin-bottom: 100px !important;
}
