.paper {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  margin-top: 20px !important;
}

.form {
  width: 100% !important;
  margin-top: 30px !important;
  margin-bottom: -100px !important;
}

.lbl_topi {
  font-weight: 600 !important;
  color: #222a44 !important;
}

.btn_update {
  margin-top: 20px !important;
}

.invoHisty_radio {
  font-weight: 600 !important;
  color: #222a44 !important;
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}
