.paper {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  margin-top: 20px !important;
}

.form {
  width: 100% !important;
  margin-top: 30px !important;
  margin-bottom: -100px !important;
}

.lbl_topi {
  font-weight: 600 !important;
  color: #222a44 !important;
}

.lbl_topi-gami {
  font-weight: 600 !important;
  color: #222a44 !important;
  font-size: 16px !important;
}

.btn_update {
  margin-top: 20px !important;
}

.invoHisty_radio {
  font-weight: 600 !important;
  color: #222a44 !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.lbl_topi_radio_not {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.spinner {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  margin-top: 20px !important;
}

.validate_updateEmployee {
  color: red;
  text-align: center !important;
  font-weight: 600 !important;
  margin-top: 20px;
}
